@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

body {
    margin: 0;
    padding: 0;
    display: grid;
    min-height: 100vh;
    background-image: url(./images/stew2.avif);
    background-size: cover;
}

.header {
    color: #FDE68A;
    font-size: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #334155;
    font-family: 'Karla', sans-serif;
}

.logo {
    display: grid;
    justify-items: center;
    align-items: center;
}

.nav-options ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.nav-options a {
    text-decoration: none;
    font-size: 20px;
    color: #FDE68A;
}

.nav-options a:hover {
    text-decoration: none;
    font-size: 20px;
    color: #CBD5E1;
    border-bottom: 2px solid #FBBF24;
}

.main-content {
    border-top: 2px solid #FBBF24;
    border-bottom: 2px solid #FBBF24;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 85vh;
    font-family: 'Ms Madi', cursive;
}

.main-content h1 {
    font-size: 50px;
}

.main-content p {
    font-size: 40px;
}

#menu-btn a {
    text-decoration: none;
    color: #FDE68A;
    font-family: 'Karla', sans-serif;
}

/* CSS button style taking from here: https://getcssscan.com/css-buttons-examples */
/*Button number 56 */
#menu-btn {
  align-items: center;
  background-color: #334155;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  font-family: Inter,sans-serif;
  font-size: 18px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#menu-btn:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

#menu-btn:hover:after {
  transform: translate(0, 0);
}